.App {
  margin: 50px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.home-heading {
  text-align: center;
  color:  #006aff;
  font-size: 2rem;
}

.form-container{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.form{
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-rows{
  display: flex;
  gap: 15px;
  justify-content: center;
}

.form-inputs{ 
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  flex: 1;
  resize: none;
}

.form-title{
  flex: 2;
}

.form-button{
  padding: 10px;
  background-color: #006aff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
  width: 20%;
}

.form-button:hover {
  background-color: #002463;
}

.task-list{
  list-style: none;
  padding: 0;
  margin: 20px auto 0;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.task-list-item {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  word-wrap: break-word;
  word-break: break-all;
}

.task-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list-item h3 {
  margin: 0;
  font-size: 1.25rem;
  color: #333;
  margin-right: 15px;
}

.no-items{
  text-align: center;
  font-size: 1.5rem;
}

.task-date {
  margin: 0;
  font-size: 1rem;
  color: #777;
}

.task-list-item p {
  margin: 5px 0;
  color: #555;
}

.task-actions {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.task-list-item button {
  padding: 8px 12px;
  font-size: 0.85rem;
  margin-right: 10px;
  background-color: #006aff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-list-item button:hover{
  background-color: #002463;
}

.task-list-item a button {
  margin-right: 10px;
}